.block {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

body {
	height:100%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-image: url(png/sky.png);
	background-position: center center;
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #ffcccc;
}

a {
	text-decoration: none;
}

img {
	border: 0;
}

* {-webkit-tap-highlight-color: rgba(255,105,183,0.6);}

#header {
  color: #008080;
  text-align: center;
	font-size: 4vw;
  font-weight: bold;
  padding: 8px;
}

/*ボタン*/
.button-row {
	display: flex;
	justify-content: center;
	align-items: center;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}

.button-row button {
	border: none;
	background: transparent;
	cursor: pointer;
}

.button-row img {
	width: 20vw;
	margin-left: 4vw;
	margin-right: 4vw;
  border: none;
  box-sizing: border-box;
  background: transparent;
}

.button-row .label {
	width: 25vw;
	margin-left: 4vw;
	margin-right: 4vw;
	font-size: 2.75vw;
	text-align: center;
}

/*消防局章*/
#kyokusyo {
	position: absolute;
	bottom: 0%;
	left: 35%;
}

/*大阪市消防局*/
#syobokyoku {
	position: absolute;
	bottom: 2%;
	left: 45%;
	font-size: 3.25vw;
}


/* iPhone5s, SE ---------------------------------------------*/
@media (max-width:320px){
	#header {
		color: #008080;
	  text-align: center;
		font-size: 16px;
	  font-weight: bold;
		padding: 0;
	}

	.button-row .label {
		width: 120px;
		font-size: 12px;
		text-align: center;
	}


/* PC and others---------------------------------------------*/
@media (min-width:640px){
	#header {
		color: #008080;
	  text-align: center;
		font-size: 24px;
	  font-weight: bold;
	  padding: 10px;
	}
}
